.basic{
  color: black;
  text-decoration: none;
  font-family: 'Bebas Neue', cursive;
}
.basic:hover{
  color:#ff0084;
}
.welcome{
  font-family: 'Raleway', sans-serif;
  font-size: 90px;
  text-align: center;
  padding: 70px 0;
}
#table{
  text-align: center;
  margin: 5px;
}
body{
  background-color: #9ed4db;
}
.cell{
  background-color:#ffffff;
}
#active{
  background-color:#ff0084;
  color: white;
}
.title{
  font-family: 'Koulen', cursive;
  font-size: 70px;
}
.paragraph{
  font-family: 'Open Sans', sans-serif;
  color: black;
  font-size: 20px;
}
.footer{
  font-family: 'Playfair Display', serif;
  bottom: 0;
}
.footer1{
  color: #ff0084;
}
.resumedoc {
  position: relative;
  width: 100%;
  overflow: hidden;
  padding-top: 50%;
}

.responsive-iframe {
  position: absolute;
  top: 5px;
  left: 15%;
  right: 0;
  width: 70%;
  height: 80%;
  border: none;
}
.cardst{
  font-family: 'PT Serif', serif;
  text-decoration: none;
  color: black;
}
.cardst:hover{
  color: #ff0084;
}
#cardx{
  font-family: 'Open Sans', sans-serif;
}
#buttonz{
  background-color: #ff0084;
  color: white;
}
#foot{
  position: fixed;
  padding: 10px 10px 0px 10px;
  bottom: 0;
  width: 100%;
}
.card{
  color: black !important;
}
.dark-mode{
  background-color: #3e4a94;
  color: white;
}
.mail{
  font-family: 'Open Sans', sans-serif;
  font-size: 30px;
}
.links{
  color: black;
  text-decoration: none;
}
.links:hover{
  color:#ff0084;
}
